/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}

.list-group {
  justify-content: center;
}

.list-group-item {
  width: 20rem;
}

/* #card-div {
  display: flex;
  align-items: center;
} */
