/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}

.list-group {
  justify-content: center;
}

.list-group-item {
  width: 20rem;
}

#img_icon {
  width: 1rem;
  height: 1rem;
  filter: brightness(0) invert(1);
}

/* .card {
  height: 15rem;
} */

/* #card-div {
  display: flex;
  align-items: center;
} */
